.rangeslider {
    position: relative;
    background: #e6e6e6;
    -ms-touch-action: none;
    touch-action: none;
  }

  .rangeslider,
  .rangeslider .rangeslider__fill {
    display: block;
  }

  .rangeslider .rangeslider__handle {

    cursor: pointer;
    display: inline-block;
    position: absolute;
    
  }

  .rangeslider .rangeslider__handle .rangeslider__active {
    opacity: 1;
  }

  .rangeslider .rangeslider__handle-tooltip {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 14px;
    transition: all 100ms ease-in;
    border-radius: 4px;
    display: inline-block;
    color: white;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  .rangeslider .rangeslider__handle-tooltip span {
    margin-top: 12px;
    display: inline-block;
    line-height: 100%;
  }
  .rangeslider .rangeslider__handle-tooltip:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  }

  /**
* Rangeslider - Vertical slider
*/

  .rangeslider-vertical .rangeslider__fill,
.rangeslider-vertical .rangeslider__handle {
  position: absolute;
}